LOCATE COMP "rx" SITE "H18";
IOBUF PORT "rx" IO_TYPE=LVCMOS33;

LOCATE COMP "tx" SITE "J17";
IOBUF PORT "tx" IO_TYPE=LVCMOS33;

LOCATE COMP "rst_n" SITE "H4";
IOBUF PORT "rst_n" IO_TYPE=LVCMOS33;

LOCATE COMP "leds[7]" SITE "J16";
IOBUF PORT "leds[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "leds[6]" SITE "L5";
IOBUF PORT "leds[6]" IO_TYPE=LVCMOS33;

LOCATE COMP "leds[5]" SITE "M4";
IOBUF PORT "leds[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "leds[4]" SITE "R3";
IOBUF PORT "leds[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "leds[3]" SITE "J18";
IOBUF PORT "leds[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "leds[2]" SITE "P16";
IOBUF PORT "leds[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "leds[1]" SITE "L4";
IOBUF PORT "leds[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "leds[0]" SITE "N4";
IOBUF PORT "leds[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "gpios[0]" SITE "K5";
IOBUF PORT "gpios[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "gpios[1]" SITE "B3";
IOBUF PORT "gpios[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "gpios[2]" SITE "E19";
IOBUF PORT "gpios[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "gpios[3]" SITE "A2";
IOBUF PORT "gpios[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "gpios[4]" SITE "K4";
IOBUF PORT "gpios[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "gpios[5]" SITE "B2";
IOBUF PORT "gpios[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "servo" SITE "F16";
IOBUF PORT "servo" IO_TYPE=LVCMOS33; 

LOCATE COMP "clk" SITE "P3";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25.0 MHz;